@model MeetingPlanner.Models.Speaker

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BulletinID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulletinID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bulletin.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bulletin.MeetingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bulletin.MeetingConductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bulletin.MeetingConductor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpeakerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
