@model IEnumerable<MeetingPlanner.Models.Bulletin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingConductor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningSongNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningPrayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingSongNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingPrayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingConductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSongNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSongNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
